<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
  <div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Araç ID</th>
      <th>Marka ID</th>
      <th>Renk ID</th>
      <th>Model Adı</th>
      <th>Günlük Kira Bedeli</th>
      <th>Model Yılı</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td> {{car.carId}} </td>
    <td> {{car.brandId}} </td>
    <td> {{car.colourId}} </td>
    <td> {{car.carModelName}} </td>
    <td> {{car.dailyPrice}} </td>
    <td> {{car.modelYear}} </td>
    <td> {{car.description}} </td>
  </tr>
</table>
